extends base.pug

block content
  h4 Changing Title of Video
  form(method='post')
    input(
      name="title"
      placeholder="Video Title", 
      value=`${video.title}`
    ) 
    input(value="Save ", type="submit")