extends base

block content 
  if errorMessage 
    span=errorMessage 

  form(method='post')
    input(placeholder="UserName" name="username", type="text", required)
    input(placeholder="Password" name="password", type="password", required)
    input(type="submit", value="Login")
    br
    a(href="https://github.com/login/oauth/authorize?client_id=2cac5806bfe8563acc89") Continue with github &rarr;

  hr  
  div   
      span Don't have an account? 
      a(href="/join") Create one now &rarr;  