extends base
include mixins/video.pug

block content   
  form(method="get") 
    input(placeholder="Search by title", type="text", name="keyword")
    input(type="submit", value="Search now")

  div
    each video in videos
        +videoInfo(video)